body {
  width: 360px;
}

.details-img {
  border-radius: 10px;
  height: 180px;
  left: 0;
  top: 0;
  width: 360px;
}

.details-name-wrapper {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
}


.recommended-carousel {
  display: flex;
  flex-direction: row;
  height: 240px;
  margin-bottom: 60px;
  overflow: scroll;
}

.recommended-card {
  height: 240px;
}

.details-button {
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
}

.details-button-link {
  color: white;
}

.details-title {
  color: black;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: left;
}

.category {
  color: grey;
  margin-bottom: 24px;
  margin-top: 0; 
}

.ingredients-title {
  font-size: 24px;
  margin-bottom: 18px;
  text-align: center;
}

.instructions {
  margin-bottom: 18px;
  text-align: justify;
}

.ingredient-list {
  margin-bottom: 18px;
}

.button-wrapper {
  text-align: left;
}
