.meals-footer {
  background-color: tomato;
  bottom: 0;
  display: flex;
  height: 80px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.search-button {
  background-color: tomato;
  border: tomato;
  height: 50px;
  width: 60px;
}

.header {
  background-color: tomato;
  height: 80px;
  width: 100% !important;
}

.meals-page-wrapper {
  width: 100%;
}

.filter-button {
  background-color: tomato;
  font-size: 16px;
}

.filters-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
}

.card-link {
  color: black;
  font-size: 20px;
}

.img {
  border-radius: 12px;
  width: fit-content;
}
